
@font-face{
    font-family: 'DM Sans-variable';
    src: url('E:/Coding/challenges/bento-grid-main/assets/fonts/DMSans-VariableFont_opsz,wght.ttf') format('ttf');
}

@font-face{
    font-family: 'DM Sans-regular';
    src: url('E:/Coding/challenges/bento-grid-main/assets/fonts/DMSans-Regular.ttf') format('ttf');
    font-weight: 100;
    font-style: normal;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'DM Sans-regular', sans-serif;

}
.first-box {
    background-color: hsl(256, 67%, 59%);
    color: hsl(254, 88%, 90%);
    text-align: center;
    font-size: 1.5rem;
    

    padding: 2rem 1rem;
}
